# These are the defaults:
# export GLUON_URL="https://github.com/freifunk-gluon/gluon.git"
# export GLUON_VERSION="master"
# export SITE_VERSION=`git describe HEAD`
# export SITE_BRANCH="experimental"
# export WORKSPACE=`pwd`

# Example for a 'stable' build:
# export GLUON_VERSION=v2014.3.1
# export SITE_VERSION=`git describe HEAD`
# export SITE_BRANCH=stable
